# Dependencies
node_modules/
package-lock.json

# Uploads directory
uploads/

# Environment variables
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Logs
logs/
*.log
npm-debug.log*

# Testing
coverage/

# Production
dist/
build/
MM720_O_2601A_DevGuide.md
GB730_2601C_Dev_Guide.docx.md
GB601_2503C_- Draft - Dev_Guide.docx.md
syllabus standard.md
